<%= render 'shared/banner' %>
<h1 id="cocktails">All cocktails</h1>
<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-6 col-sm-4 col-md-3">
      <%= render 'shared/card', cocktail: cocktail %>
      </div>
    <% end %>
  </div>
  <%= link_to "Create New", new_cocktail_path, class: "btn btn-primary" %>
</div>

<!-- <h1>All cocktails</h1>
<div class="container">
  <ul class="list-inline">
  <% @cocktails.each do |cocktail| %>
  <li>
  <%= link_to cocktail.name, cocktail_path(cocktail)%>
  </li>
  <% end %>
</ul>
<%= link_to "Create New", new_cocktail_path%>
</div>
 -->
